/* Body */
body {
  background: url(../images/bg.png);
  font-family: 'Questrial', sans-serif;;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}

.container {
  text-align: center;
  color: rgb(225, 225, 225);
}

ul {
  padding: 0;
}

/* Buttons*/
.game-options li {
  display: inline-block;
}

/* Card Grid */
#memory-grid{
  width: 80%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

#memory-grid li{
  width: 22.5%;
  height: 150px;
  border: 5px solid rgb(80, 80, 80);
  margin:0 15px 15px 0;
  float:left;
  display:block;
  background-color:#fff;
  transition: all 0.3s;
}

#memory-grid img {
  max-height: 100%;
}

#memory-grid li .image {
  display:block;
  width:100%;
  height:100%;
  cursor:pointer;
  overflow:hidden;
  position:relative;
}

#memory-grid li .image:after {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:100;
  content:'';
  background: rgb(35, 35, 35);
  transition:left 0.3s;
}

#memory-grid li.check .image:after {
  left:-100%;
}

#memory-grid li.check {
  border-color: rgb(35, 35, 35);
  background: rgb(35, 35, 35);
}

/* Buttons */
button#new-game {
  border: 3px solid rgb(225, 225, 225);
  background: rgb(170, 170, 170);
  color: rgb(225, 225, 225);
  padding: 5px 10px;
  margin: 0px 10px;
  font-family: 'Questrial', sans-serif;;
  font-size: .9em;
}

button#magic {
  background:url(../images/wand.png) no-repeat;
  cursor:pointer;
  width: 50px;
  height: 50px;
  border: none;
  float: left;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1400px) { /*TYPICAL LAPTOP ADJUSTMENTS*/
  #memory-grid {
    width: 70%;
  }
  #memory-grid li {
    width: 30%;
  }
}

@media screen and (max-width: 1070px) { /*TYPICAL LAPTOP ADJUSTMENTS*/
  #memory-grid {
    width: 80%;
  }
  #memory-grid li {
    width: 29%;
  }
}

@media screen and (max-width: 725px) { /*SMALLER TABLET/PORTRAIT TABLET ADJUSTMENTS*/
  #memory-grid {
    width: 80%;
  }
  #memory-grid li {
    width: 45%;
  }
}

@media screen and (max-width: 625px) { /*STARTING MOBILE ADJUSTMENTS*/
  #memory-grid {
    width: 90%;
  }
}
